.Engraving {
  width: 99%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Engraving > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px blue;
  border-radius: 1%;
}

.Engraving__img {
  flex: 0.5;
}
.Engraving__action {
  flex: 3;
}
.Engraving__btn {
  flex: 0.5;
}
.Engraving__btn:hover {
  cursor: pointer;
}
.Engraving__img:hover {
  cursor: pointer;
}

.Engraving__action__box {
  display: flex;
  justify-content: space-around;
}
.Engraving__action__box > div {
  margin: 8%;
}
.Engraving__action__box__square {
  border: 10px solid transparent;
  border-bottom-color: rgb(53, 54, 60);
  position: relative;
  top: -10px;
}
.Engraving__action__box__square::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: rgb(53, 54, 60);
}

img {
  width: 100%;
  height: 100%;
}
