.SideBox {
  width: 28%;
  height: 90%;
  background-color: rgb(135, 132, 130);
  overflow: auto;
}
.sideStones {
  display: flex;
  justify-content: center;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
