.SideBox {
  width: 28%;
  height: 80%;
  background-color: rgb(135, 132, 130);
  overflow: auto;
}
.sideStones {
  display: flex;
  justify-content: center;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
@media (max-width: 460px) {
  .SideBox {
    width: 100%;
    height: 40%;
  }
}
