.App {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App > div {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1%;
}
.App > div > div {
  border-radius: 10px;
  box-shadow: 5px 3px 3px white;
}
.AppTop {
  height: 70%;
}
.AppBottom {
  height: 30%;
}
