.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.App > div > div {
  /* border: 1px solid rgb(135, 132, 130); */
  background-color: rgb(135, 132, 130);
  border-radius: 10px;
}

@media (max-width: 460px) {
  .App > div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .AppTop {
    height: 100%;
  }
}
